{% extends "layouts/base.html" %}
{% block content %}
<h2 align="center"> Restaurant Information </h2>
<form  method = "GET">
  <h3>Filter by Restauarant_Id</h3>
  <input type = "INT" name = "restaurant_id" />
  <input type = "submit" value = "submit" /><br>
</form>

<form action = "{{ url_for('restaurants.index') }}" method = "POST">
  <select name="sort_type">
    <option value="customer number"> customer number </option>
    <option value="waiting time"> waiting time </option>
  </select> 
  <select name="method">
    <option value="DESC"> DESC </option>
    <option value="ASC">  ASC </option>
  </select> 

  <input type = "submit" value = "submit" /><br>

  
</form>




<div class="table-responsive-vertical shadow-z-1">
  <!-- Table starts here -->
  <table id="table" class="table table-hover table-mc-light-blue">
    <thead>
      <tr>
        <th><b>Restaurant ID</b></th>
        <th><b>Restaurant Name</b></th>
        <th> <b>Average Waiting Time </b> </th>
        <th> <b>Average Visiting Customers</b> </th>


      </tr>
    </thead>
    <tbody>
      {% for row in rows %}
      <tr>
        <td>{{row[0]}}</td>
        <td>{{row[1]}}</td>
        <td>{{row[2]}}</td>
        <td>{{row[3]}}</td>
        <td>
          <form action="{{ url_for('restaurants.delete') }}" method=post class=deleterestaurant>
            <input type = hidden name = "restaurant_id" value = "{{row[0]}}"/>
            <input type=submit value = Delete></input>
          </form>
        </td>
        <td>
          <form action="{{ url_for('restaurants.edit') }}" method=get >
            <input type = hidden name = "id" value = "{{row[0]}}"/>
            <input type=submit value = Edit></input>
          </form>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}
