{% extends "layouts/base.html" %}
{% block content %}
<!-- Page Content -->
<h2 align="center"> Party Information </h2>

<form  method = "GET">
  <h3>Filter by Restaurant Id</h3>
  <input type = "INT" name = "restaurant_id" />
  <input type="checkbox" name="party" value="Yes">Party is still on going<br>
  <input type = "submit" value = "submit" /><br>
</form>

<br>


<h3 > Sort Party Information </h3>
<form action = "{{ url_for('party.index') }}" method = "POST">
<select name="condition">
    <option value="unseated"> Unseated </option>
    <option value="ongoing">  On going </option>
    <option value="finished"> Finished </option>
  </select> 

  <input type = "submit" value = "submit" /><br>


<div class="table-responsive-vertical shadow-z-1">
  <!-- Table starts here -->
  <table id="table" class="table table-hover table-mc-light-blue">
    <thead>
      <tr>
        <th>Party_size</th>
        <th>Customer_id</th>
        <th>Party_datetime</th>
        <th>Table_id</th>
        <th>Restaurant_id</th>
        <th>Seated_datetime</th>
        <th>Finish_at</th>
      </tr>
    </thead>
    <tbody>

      {% for row in rows %}
      <tr>
        <td > {{row[0]}}</td>
        <td>{{row[1]}}</td>
        <td> {{row[2]}}</td>
        <td>{{row[3]}}</td>
        <td> {{row[4]}}</td>
        <td>{{row[5]}}</td>
        <td> {{row[6]}}</td>
        <td>
          <form action="{{ url_for('party.delete') }}" method=post class=deleteparty>
            <input type = hidden name = "customer_id" value = "{{row[1]}}"/>
            <input type = hidden name = "party_time" value = "{{row[2]}}"/>
            <input type=submit value = Delete></input>
          </form>
        </td>
        <td>
          <form action="{{ url_for('party.edit') }}" method=get>
            <input type = hidden name = "customer_id" value = "{{row[1]}}"/>
            <input type = hidden name = "party_datetime" value = "{{row[2]}}"/>
            <input type=submit value = Edit></input>
          </form>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>  
{% endblock %}
