{% extends "layouts/base.html" %}
{% block content %}
<h2 align="center"> Customer Information </h2>
<form  method = "GET">
  <h3>Filter by Customer Id</h3>
  <input type = "INT" name = "customer_id" />
  <input type = "submit" value = "submit" /><br>
</form>

<br>

<div class="table-responsive-vertical shadow-z-1">
  <!-- Table starts here -->
  <table id="table" class="table table-hover table-mc-light-blue">
    <thead>
      <tr>
        <th><b>Customer_ID </b></th>
        <th> <b>First_Name </b></th>
        <th> <b>Last_name</b></th>
        <th><b>Phone_number</b></th>
        <th><b>cusotmer_email</b></th>
      </tr>
    </thead>
    <tbody>
      {% for row in rows %}
      <tr>
        <td>{{row[0]}}</td>
        <td>{{row[1]}}</td>
        <td> {{row[2]}}</td>
        <td>{{row[3]}}</td>
        <td>{{row[4]}}</td>
        <td>
          <form action="{{ url_for('customers.delete') }}" method=post class=deletecustomer>
            <input type = hidden name = "id" value = "{{row[0]}}"/>
            <input type=submit value = Delete></input>
          </form>
        </td>
        <td>
          <form action="{{ url_for('customers.edit') }}" method=get>
            <input type = hidden name = "id" value = "{{row[0]}}"/>
            <input type=submit value = Edit></input>
          </form>
        </td>
        <td>{{msg}}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}
