{% extends "layouts/base.html" %}
{% block content %}
<!-- Page Features -->
<div class="row text-center">
  <div class="col-md-3 col-sm-6 hero-feature">
    <div class="thumbnail">
      <div class="caption">
        <h3>Add new customers</h3>
        <p>
        <a href={{ url_for('customers.new') }} class="btn btn-primary">Add new</a> 
        </p>
      </div>
    </div>
  </div>
  <div class="col-md-3 col-sm-6 hero-feature">
    <div class="thumbnail">
      <div class="caption">
        <h3>Show Full Customer List</h3>
        <p>
        <a href={{ url_for('customers.index') }} class="btn btn-primary">Display</a> 
        </p>

      </div>
    </div>
  </div>
  <div class="col-md-3 col-sm-6 hero-feature">
    <div class="thumbnail">
      <div class="caption">
        <h3>Search Customer Basic Information</h3>
        <p>
        <a href={{ url_for('customers.search') }} class="btn btn-primary">Search</a> 
        </p>
      </div>
    </div>
  </div>
  <div class="col-md-3 col-sm-6 hero-feature">
    <div class="thumbnail">
      <div class="caption">
        <h3>Search Customer Dining Information</h3>
        <p>
        <a href={{ url_for('customers.dinning') }} class="btn btn-primary">Search</a>
        </p>
      </div>
    </div>
  </div>
</div>
{% endblock %}
