{% extends "mainlayout.html" %}
{% block content %}
<h2 align="center"> Customer Information </h2>
<div class="table-responsive-vertical shadow-z-1">
  <!-- Table starts here -->
  <table id="table" class="table table-hover table-mc-light-blue">
    <thead>
      <tr>
        <th>Customer_ID</th>
        <th>First_Name</th>
        <th>Last_name</th>
        <th>Phone_number</th>
        <th>cusotmer_email</th>
      </tr>
    </thead>
    <tbody>

      {% for row in rows %}
      <tr>
        <td>{{row[0]}}</td>
        <td>{{row[1]}}</td>
        <td> {{row[2]}}</td>
        <td>{{row[3]}}</td>
        <td>{{row[4]}}</td>

        <td>

          <form action="{{ url_for('deletecustomer') }}" method=post class=deletecustomer>
            <input type = hidden name = "id" value = "{{row[0]}}"/>
            <input type=submit value = Delete></input>
          </form>


        </td>

        <td>{{msg}}</td>


      </tr>
      {% endfor %}

    </tbody>
  </table>
</div>
{% endblock %}
