{% extends "mainlayout.html" %}
{% block content %}
<h2 align="center"> Restaurant Information </h2>
<div class="table-responsive-vertical shadow-z-1">
  <!-- Table starts here -->
  <table id="table" class="table table-hover table-mc-light-blue">
    <thead>
      <tr>
        <th>Restaurant_ID</th>
        <th>Restaurant_Name</th>

      </tr>
    </thead>
    <tbody>

      {% for row in rows %}
      <tr>
        <td>{{row[0]}}</td>
        <td>{{row[1]}}</td>


        <td>

          <form action="{{ url_for('deleterestaurant') }}" method=post class=deleterestaurant>
            <input type = hidden name = "id" value = "{{row[0]}}"/>
            <input type=submit value = Delete></input>
          </form>


        </td>
      </tr>
      {% endfor %}

    </tbody>
  </table>
</div>  
{% endblock %}
