{% extends "mainlayout.html" %}
{% block content %}
<!-- Page Features -->
<div class="row text-center">

  <div class="col-md-3 col-sm-6 hero-feature">
    <div class="thumbnail">
      <img src="" alt="" height="400" width="420">
      <div class="caption">
        <h3>Add new resturants</h3>

        <p>
        <a href="enterrestaurant" class="btn btn-primary">Add new</a> 
        </p>
      </div>
    </div>
  </div>

  <div class="col-md-3 col-sm-6 hero-feature">
    <div class="thumbnail">
      <img src="" alt="" height="400" width="420">
      <div class="caption">
        <h3>Show Resturant Information</h3>
        <p>
        <a href="restaurantlist" class="btn btn-primary">Display</a> 
        </p>
      </div>
    </div>
  </div>



</div>
<!-- /.row -->


<!-- Page Features -->
<div class="row text-center">

  <div class="col-md-3 col-sm-6 hero-feature">
    <div class="thumbnail">
      <img src="" alt="" height="400" width="420">
      <div class="caption">
        <h3>Add new tables </h3>

        <p>
        <a href="entertable" class="btn btn-primary">Add new</a> 
        </p>
      </div>
    </div>
  </div>

  <div class="col-md-3 col-sm-6 hero-feature">
    <div class="thumbnail">
      <img src="" alt="" height="400" width="420">
      <div class="caption">
        <h3>Show Restaurant Table Information</h3>
        <p>
        <a href="tablelist" class="btn btn-primary">Display</a> 
        </p>
      </div>
    </div>
  </div>


  <div class="col-md-3 col-sm-6 hero-feature">
    <div class="thumbnail">
      <img src="" alt="" height="400" width="420">
      <div class="caption">
        <h3>Search Restaurant Table With Size</h3>
        <p>
        <a href="searchtable" class="btn btn-primary"> Search</a> 
        </p>
      </div>
    </div>
  </div>

</div>
{% endblock %}
