{% extends "mainlayout.html" %}
{% block content %}
<div class="row text-center">

  <div class="col-md-3 col-sm-6 hero-feature">
    <div class="thumbnail">
      <img src="" alt="" height="400" width="420">
      <div class="caption">
        <h3>Add new party</h3>

        <p>
        <a href="enterparty" class="btn btn-primary">Add Party</a> 
        </p>

      </div>
    </div>
  </div>


  <div class="col-md-3 col-sm-6 hero-feature">
    <div class="thumbnail">
      <img src="" alt="" height="400" width="420">
      <div class="caption">
        <h3>Show Party Information</h3>
        <p>
        <a href="partylist" class="btn btn-primary">Display</a> 
        </p>
      </div>
    </div>
  </div>

</div>
<!-- /.row -->


<!-- Page Features -->
<div class="row text-center">

  <div class="col-md-3 col-sm-6 hero-feature">
    <div class="thumbnail">
      <img src="" alt="" height="400" width="420">
      <div class="caption">
        <h3>Add new Notification</h3>

        <p>
        <a href="enternotification" class="btn btn-primary">Add Notification</a> 
        </p>

      </div>
    </div>
  </div>


  <div class="col-md-3 col-sm-6 hero-feature">
    <div class="thumbnail">
      <img src="" alt="" height="400" width="420">
      <div class="caption">
        <h3>Show Notification Information</h3>
        <p>
        <a href="notificationlist" class="btn btn-primary">Display</a> 
        </p>
      </div>
    </div>
  </div>

</div>
{% endblock %}
