{% extends "mainlayout.html" %}
{% block content %}
<h2 align="center"> Administrators Information </h2>
<div class="table-responsive-vertical shadow-z-1">
  <!-- Table starts here -->
  <table id="table" class="table table-hover table-mc-light-blue">
    <thead>
      <tr>
        <th><b>Admin_ID</b></th>
        <th><b>Email</b></th>
        <th><b>User_name</b></th>
        <th><b>Password</b></th>

      </tr>
    </thead>
    <tbody>

      {% for row in rows %}
      <tr>
        <td > {{row[0]}}</td>
        <td>{{row[1]}}</td>
        <td> {{row[2]}}</td>
        <td>{{row[3]}}</td>
        <td>

          <form action="{{ url_for('deleteadmin') }}" method=post class=deleteadmin>
            <input type = hidden name = "id" value = "{{row[0]}}"/>
            <input type=submit value = Delete></input>
          </form>


        </td>

          <td>

          <form action="{{ url_for('updateadmin') }}" method=post class=updateadmin>
            <input type = hidden name = "old_id" value = "{{row[0]}}"/>
            <input type=submit value = Update></input>
          </form>


        </td>

      </tr>
      {% endfor %}

    </tbody>
  </table>
</div>  
{% endblock %}
