{% extends "layouts/base.html" %}
{% block content %}
<!-- Jumbotron Header -->
<header class="jumbotron hero-spacer">
  <h1 >Welcome to <em>restaurant waiting list</em>!</h1>
  <hr>


  <!-- Page Features -->
  <div class="row text-center", align='center'>

    <div class="col-md-3 col-sm-6 hero-feature">
      <div class="thumbnail">
        <img src="" alt="" height="400" width="420">
        <div class="caption">
          <h3>Add New Party</h3>

          <p>
          <a href={{ url_for('party.new') }} class="btn btn-primary">Add Party</a> 
          </p>

        </div>
      </div>
    </div>


    <div class="col-md-3 col-sm-6 hero-feature">
      <div class="thumbnail">
        <img src="" alt="" height="400" width="420">
        <div class="caption">
          <h3>Show Party</h3>
          <p>
          <a href={{ url_for('party.index') }} class="btn btn-primary">Display</a> 
          </p>
        </div>
      </div>
    </div>

  </div>
  <!-- /.row -->

  <!-- Page Features -->
  <div class="row text-center">

    <div class="col-md-3 col-sm-6 hero-feature">
      <div class="thumbnail">
        <img src="" alt="" height="400" width="420">
        <div class="caption">
          <h3>New Notification</h3>
          <p>
          <a href={{ url_for('notifications.new') }} class="btn btn-primary">Add Notification</a> 
          </p>
        </div>
      </div>
    </div>

    <div class="col-md-3 col-sm-6 hero-feature">
      <div class="thumbnail">
        <img src="" alt="" height="400" width="420">
        <div class="caption">
          <h3>Show Notification Information</h3>
          <p>
          <a href="notifications" class="btn btn-primary">Display</a> 
          </p>
        </div>
      </div>
    </div>

  </div>
  <!-- /.row -->

  <!-- Page Features -->
  <div class="row text-center">

    <div class="col-md-3 col-sm-6 hero-feature">
      <div class="thumbnail">
        <img src="" alt="" height="400" width="420">
        <div class="caption">
          <h3>Add New Waitlist</h3>

          <p>
          <a href={{ url_for('waitlists.new') }} class="btn btn-primary">Add Waitlist</a> 
          </p>

        </div>
      </div>
    </div>


    <div class="col-md-3 col-sm-6 hero-feature">
      <div class="thumbnail">
        <img src="" alt="" height="400" width="420">
        <div class="caption">
          <h3>Show Waitlist </h3>
          <p>
          <a href={{ url_for('waitlists.index') }} class="btn btn-primary">Display</a> 
          </p>
        </div>
      </div>
    </div>

  </div>
  <!-- /.row -->


</header>
{% endblock %}
